---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Carousel from "../components/Carousel.astro";
import Form from "../components/Form.astro";
import ButtonWhatsapp from "../components/ButtonWhatsapp.astro";

const imagesCarousel1 = [
  "/images/carousel/detalles_patrimoniohoy_banner.jpg",
  "/images/carousel/beneficios_patrimoniohoy_banner.jpg",
  "/images/carousel/cotiza_via_whatsapp_banner.jpg",
  "/images/carousel/coppel_banner.jpg",
  "/images/carousel/fabricantes_banner.jpg",
  "/images/carousel/marcas_banner.jpg",
  "/images/carousel/servicio_transportes_banner.jpg",
];
---

<Layout title="San Otilio">
  <div
    class="relative overflow-hidden h-screen flex items-center justify-center"
  >
    <video
      autoplay
      loop
      muted
      poster="/videos/video_poster.png"
      class="absolute top-0 left-0 w-full h-full object-cover"
    >
      <source src="/videos/background_video.webm" type="video/webm" />
      Tu navegador no soporta la reproducción de video.
    </video>
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
    <div class="relative z-10 text-center text-white p-6">
      <h1 class="text-5xl font-bold mb-4">
        Materiales para tu construcción y hogar
      </h1>
      <p class="text-xl">
        La mejor opción para tus proyectos de construcción, calidad y
        satisfacción garantizadas. Fabricamos materiales de construcción y
        ofrecemos una amplia variedad de herramientas eléctricas, así como
        equipos para carpintería y herrería.
      </p>
      <a
        href="/productos"
        class="inline-block bg-white text-blue-500 font-bold py-3 px-6 rounded-full mt-8 hover:bg-blue-100"
        >Explorar</a
      >
    </div>
  </div>
  <main class="py-12 px-4 sm:px-6 lg:px-8">
    <!-- Sobre Nosotros -->
    <section class="py-8 js-scroll fade-in-left">
      <div
        class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
      >
        <div class="order-2 md:order-1">
          <h2 class="text-3xl font-semibold text-gray-800 mb-4">
            Sobre Nosotros
          </h2>
          <p class="text-xl text-gray-700 mb-6">
            Con más de 34 años de experiencia en el mercado, nos enorgullecemos
            de ser una empresa 100% comprometida con la satisfacción de nuestros
            clientes, dedicada a ofrecerles materiales y productos para
            construcción, ferretería, plomería, material eléctrico entre otros
            muchos de nuestro extenso catálogo.
          </p>
          <a
            href="/about-us"
            class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded"
          >
            Leer más sobre nosotros
          </a>
        </div>
        <div class="order-1 md:order-2">
          <Image
            src="/images/IMG_4157_compress.jpg"
            alt="Fachada de la sucursal San Otilio Aeropuerto"
            width="600"
            height="550"
            class="rounded-lg shadow-md hover:scale-105 transition-transform duration-300"
          />
        </div>
      </div>
    </section>
    <!-- Mision -->
    <section class="py-8 js-scroll fade-in-right">
      <div
        class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
      >
        <div class="order-1 md:order-2">
          <h2 class="text-3xl font-semibold text-gray-800 mb-4">
            Nuestra Misión
          </h2>
          <p class="text-xl text-gray-700 mb-6">
            No somos una empresa más, trabajamos para resolver tus necesidades y
            problemas, asegurando que cada cliente esté 100% satisfecho con
            nuestros servicios.
          </p>
        </div>
        <div class="order-2 md:order-1">
          <Image
            src="/images/IMG_3973_compress.jpg"
            alt="Productos trupper en exhibición"
            width="600"
            height="550"
            class="rounded-lg shadow-md hover:scale-105 transition-transform duration-300"
          />
        </div>
      </div>
    </section>
    <!-- Carousel 1 -->
    <section class="py-8 bg-gray-100">
      <div class="max-w-5xl mx-auto">
        <Carousel images={imagesCarousel1} />
      </div>
    </section>
    <!-- Visitanos -->
    <section class="py-8 js-scroll fade-in-top">
      <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-semibold mb-6 text-center">
          ¡Visita Nuestra Sucursal Matriz!
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center mb-8">
          <div class="">
            <p class="text-xl text-gray-700 mb-8 text-center">
              Te esperamos en nuestra sucursal principal ubicada en
              <strong
                >Calle Sonora Sur #2509, Col. México Sur, Tehuacán, Pue.</strong
              >
              Ven y conoce nuestra amplia selección de materiales y recibe la mejor
              atención.
            </p>
            <Image
              src="/images/matriz_compress.jpg"
              alt="Sucursal matriz en Tehuacán"
              width="600"
              height="550"
              class="rounded-lg shadow-md hover:scale-105 transition-transform duration-300"
            />
          </div>
          <div class="rounded-lg overflow-hidden shadow-md">
            <iframe
              title="Mapa de ubicacion sucursal matriz"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.09799799887!2d-97.55384838527832!3d18.43788768739827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c554c16c7c7d31%3A0x9ef44a8b680a9b0a!2sCalle+Sonora+Sur+2509%2C+M%C3%A9xico+Sur%2C+75780+Tehuac%C3%A1n%2C+Pue.!5e0!3m2!1ses-MX!2smx!4v1713644468829!5m2!1ses-MX!2smx"
              width="100%"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"></iframe>
          </div>
        </div>

        <div class="flex justify-center gap-4">
          <ButtonWhatsapp animate={true}/>
          <a
            href="/ubicacion"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-2 rounded"
            >Ver ubicación matriz</a
          >
        </div>

        <div class="mt-8 text-center">
          <p class="text-xl text-gray-700">
            ¿Buscas otras sucursales?
            <a
              href="/sucursales"
              class="text-blue-500 hover:underline font-semibold"
            >
              Consulta nuestras demás ubicaciones
            </a>
          </p>
        </div>
      </div>
    </section>
    <!-- Form -->
    <section class="py-8 bg-gray-100 js-scroll fade-in-top">
      <div class="mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div class="order-2 md:order-1">
          <div class="max-w-md mx-auto">
            <Form />
          </div>
        </div>
        <div class="order-1 md:order-2">
          <Image
            src="/images/IMG_4197_compress.jpg"
            alt="Sucursal patio Aeropuerto"
            width="600"
            height="550"
            class="rounded-lg shadow-md hover:scale-105 transition-transform duration-300"
          />
        </div>
      </div>
    </section>
    <!-- imf formas pago -->
    <section class="mt-2 js-scroll fade-in-bottom">
      <div>
        <Image
          src="/images/formas_pago_banner.jpg"
          alt="Ilustración sobre formas de pagos"
          width="1920"
          height="300"
          class="rounded-lg shadow-md"
        />
      </div>
    </section>
  </main>
</Layout>
