---
import { Image } from "astro:assets";
---

<a
  href="https://api.whatsapp.com/send?phone=522381239217&text=Hola%2C%20quiero%20generar%20una%20cotizaci%C3%B3n"
  class="bg-[#cc6333] hover:bg-gray-800 text-white font-bold py-3 px-4 inline-flex items-center rounded animate-bounce"
>
  Contáctanos
  <Image
    src="/images/icons/whatsapp.png"
    alt="Icono de WhatsApp"
    width="24"
    height="24"
    class="rounded-lg shadow-md ml-2"
  />
</a>
