---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="bg-white rounded-lg shadow-md p-6">
  <h2
    class={`text-3xl font-semibold text-gray-800 mb-4 ${title ? "" : "hidden"}`}
  >
    {title}
  </h2>
  <form action="/php/send-mail.php" method="POST">
    <div class="mb-4">
      <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">
        Nombre:
      </label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
    </div>
    <div class="mb-4">
      <label for="telefono" class="block text-gray-700 text-sm font-bold mb-2">
        Teléfono:
      </label>
      <input
        type="tel"
        id="telefono"
        name="telefono"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
    </div>
    <div class="mb-4">
      <label for="correo" class="block text-gray-700 text-sm font-bold mb-2">
        Correo Electrónico:
      </label>
      <input
        type="email"
        id="correo"
        name="correo"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
    </div>
    <div class="mb-6">
      <label for="mensaje" class="block text-gray-700 text-sm font-bold mb-2">
        Mensaje:
      </label>
      <textarea
        id="mensaje"
        name="mensaje"
        rows="4"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required></textarea>
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded focus:outline-none focus:shadow-outline"
    >
      Enviar Mensaje
    </button>
  </form>
</div>
